* {
    padding: 0;
    margin: 0;
}
html, body {width:100%;height:100%;}
.main {
    background-color: #e5ebf2;
}
.bg {width: 100%;height: 100%;padding: 100px 0;text-align: center;color: #fff;
    background-size:contain;
    background: url(../img/background.jpg) no-repeat bottom center;
    background-size: cover;}
.my-navbar {transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;}
.my-navbar a{background:transparent !important;color:#fff !important}
.my-navbar a:hover {background:transparent;outline:0;coloer:#fff}
.my-navbar a {transition: color 0.5s ease-in-out;}/*-webkit-transition ;-moz-transition*/
.top-nav {padding:0;background:#000;}
button.navbar-toggle {background-color:#fbfbfb;}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/
button.navbar-toggle > span.icon-bar {background-color:#dedede}

#title {
    background-color: #6BBE92;
}

.main-btn {
    text-align: center;
    padding-top: 20%;
}
.main-btn a{
    margin: 20px;
    width:180px;
    background-color:rgba(0,0,0,0.3);
}
.cative{
    font-family:'Comfortaa', cursive;
}

#marker {
    height: 6px;
    background: #3E8760 !important;
    position: absolute;
    bottom: 0;
    width: 58px;
    z-index: 2;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    transition: all 0.35s;
}

.select{
    background-color: #2b542c;
}
#main li:nth-child(1):hover ~ #marker {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
}

#main li:nth-child(2):hover ul div {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
#main li:nth-child(2):hover ~ #marker {
    -webkit-transform: translate(58px, 0);
    -moz-transform: translate(58px, 0);
    -ms-transform: translate(58px, 0);
    transform: translate(58px, 0);
}

#main li:nth-child(3):hover ul div {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
#main li:nth-child(3):hover ~ #marker {
    -webkit-transform: translate(116px, 0);
    -moz-transform: translate(116px, 0);
    -ms-transform: translate(116px, 0);
    transform: translate(116px, 0);
    width: 100px;
}

#left {
    position:fixed;
    z-index:99;
}

.file_list {
    width: 250px;
    height: 70%;
    position:fixed;
    z-index:99;
    overflow : auto;
    border:1px solid #96c2f1;background:#eff7ff;
}

#right {
    margin-left: 250px;
    height: 1000px;
    padding: 10px;
}

#fenci_result {
    padding: 20px;
    height: 100px;
    border:1px solid #adcd3c;background:#f2fddb;
    overflow : auto;
}
#word_cloud {
    padding: 20px;
    height: 150px;
    border:1px solid #bbe1f1;background:#eefaff;
}

.yellow_border {
    border:1px solid #e3e197;background:#ffffdd;
}