* {
    padding: 0;
    margin: 0;
}
p {
    font-family: "宋体", serif;
}
span {
    margin: 2px;
}
html, body {width:100%;height:100%;}
.main {
    background-color: #e5ebf2;
}
.bg {width: 100%;height: 100%;padding: 100px 0;text-align: center;color: #fff;
    background-size:contain;
    background: url(../img/background.jpg) no-repeat bottom center;
    background-size: cover;}
.my-navbar {transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;}
.my-navbar a{background:transparent !important;color:#fff !important}
.my-navbar a:hover {background:transparent;outline:0;color:#fff}
.my-navbar a {transition: color 0.5s ease-in-out;}/*-webkit-transition ;-moz-transition*/
.top-nav {padding:0;background:#000;}
button.navbar-toggle {background-color:#fbfbfb;}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/
button.navbar-toggle > span.icon-bar {background-color:#dedede}

#title {
    background-color: #6BBE92;
}

#big_title {
    border:1px solid #a9c9e2;background-color:rgba(0,0,0,0.3);
    margin-top: 7%;
}

.main-btn {
    text-align: center;
}
.main-btn a{
    margin: 20px;
    width:180px;
    background-color:rgba(0,0,0,0.3);
}
.cative{
    font-family:'Comfortaa', cursive;
}

.select{
    background-color: #2b542c;
}
.active {
    border-bottom-width: 6px;
    border-bottom-color: #3E8760 !important;
    border-bottom-style: solid;
}

#left {
    position:fixed;
    z-index:99;
}

.file_list {
    width: 250px;
    height: 440px;
    position:fixed;
    z-index:99;
    overflow : auto;
    border:1px solid #96c2f1;background:#eff7ff;
}

#list li:hover {
    background-color: #00ccff;
}

#right {
    margin-left: 260px;
}

#fenci_result {
    padding: 5px;
    height: 100px;
    border:1px solid #adcd3c;background:#f2fddb;
    overflow : auto;
}
#word_cloud {
    padding: 10px;
    height: 150px;
    border:1px solid #bbe1f1;background:#eefaff;
}

.yellow_border {
    border:1px solid #e3e197;background:#ffffdd;
}